[submodule "site-lisp/json-mode"]
	path = site-lisp/json-mode
	url = https://github.com/joshwnj/json-mode.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "site-lisp/emacs-neotree"]
	path = site-lisp/emacs-neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "site-lisp/json-reformat"]
	path = site-lisp/json-reformat
	url = https://github.com/gongo/json-reformat.git
[submodule "site-lisp/json-snatcher"]
	path = site-lisp/json-snatcher
	url = https://github.com/Sterlingg/json-snatcher.git
[submodule "site-lisp/dockerfile-mode"]
	path = site-lisp/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
[submodule "site-lisp/ido-vertical-mode"]
	path = site-lisp/ido-vertical-mode
	url = https://github.com/creichert/ido-vertical-mode.el.git
[submodule "site-lisp/emacs-sos"]
	path = site-lisp/emacs-sos
	url = https://github.com/omouse/emacs-sos.git
[submodule "site-lisp/markdown-preview-eww"]
	path = site-lisp/markdown-preview-eww
	url = https://github.com/niku/markdown-preview-eww.git
